body{
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header, .top-section, .middle-section, .bottom-section, .footer{
    padding-left: 300px;
    padding-right: 300px;
}

img{
    width: 300px;
    height: auto;
}

a, li{
    list-style: none;
    text-decoration: none;
    color: white;
}

.buttons{
    background-color: #3882F6;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #3882F6;
    color: #F9FAF8;
}

/* TOP PART/HEADER */

.header{
    background-color: #1F2937;
    padding-bottom: 75px;
}

.top, .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    color: #F9FAF8;
}

.top{
    gap: 140px;
}

.content{
    width: 350px;
}

.top div{
    font-size: 24px;
    font-weight: bold;
}
.links{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

.content div{
    font-weight: bolder;
    font-size: 48px;
}

.content p{
    font-size: 18px;
    color: #E5E7EB;
} 


/* TOP-SECTION */

.top-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-left: 300px;
    padding-right: 300px;
    color: #1F2937;
}

.top-section .info{
    margin: 50px;
    font-size: 36px;
    font-weight: bolder;
}

.box img, .box div{
    width: 150px;
    height: auto;
}

.boxes{
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
    gap: 80px;
}

.box{
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* MIDDLE-SECTION */

.middle-section{
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-top: 100px;
    padding-bottom: 100px;


    background-color: #E5E7EB;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
}

.middle-section .creditor{
    font-style:normal;
    font-weight: bold;
    font-size: 18px;
    color: #1f2937;
    text-align: end;
}


/* BOTTOM-SECTION */

.bottom-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.message-box{
    background-color: #3882F6;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 4px;
    gap: 200px;
    color: #F9FAF8;

    display: flex;
    justify-content: space-around;
}

.bottom-section .buttons{
    border-color: #F9FAF8;
}


/* FOOTER */

.footer{
    background-color: #1F2937;
    padding: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #E5E7EB;
}
