body{
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

img{
    width: 300px;
    height: auto;
}

a, li{
    list-style: none;
    text-decoration: none;
    color: white;
}

.buttons{
    background-color: #3882F6;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #3882F6;
    color: #F9FAF8;
}

/* TOP PART/HEADER */

.header{
    background-color: #1F2937;
    padding-bottom: 75px;
}

.top, .bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
    color: #F9FAF8;
}

.top{
    gap: 140px;
}

.content{
    width: 350px;
}

.top div{
    font-size: 24px;
    font-weight: bold;
}
.links{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

.content div{
    font-weight: bolder;
    font-size: 48px;
}

.content p{
    font-size: 18px;
    color: #E5E7EB;
} 


/* TOP-SECTION */

.top-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-section .info{
    margin: 50px;
}

.box img{
    width: 150px;
    height: auto;
}

.boxes{
    display: flex;
    justify-content: center;
    padding-bottom: 75px;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    flex: 0 0 0;
}


/* MIDDLE-SECTION */